<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do cliente</title>
    <link href="/CSS/_cadastro.css" rel="stylesheet">

</head>
<body>
    <section class="area-cadastro">
        <div class="login">

            <div>
                <img src="/logo.png" alt="">
            </div>
                <form method="POST">
                    <input type="text" name="nome" placeholder="Nome de usuario:" autofocus>
                    <div class="confirm-email">
                        <input style="width: 46%; margin-right: 10px;" type="text" name="email" placeholder="Digite seu email:" autofocus>
                        <input style="width: 46%;" type="text" name="email" placeholder="Confirme seu email:" autofocus>
                    </div>
                    <input type="password" name="senha" placeholder="Crie Sua senha:">
                    <input type="submit" name="entrar">
                </form> 
                <p>Já tem uma conta?<a href="login.html">Entrar</a></p>
        </div>
    </section>
</body>

</html>