<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login do cliente</title>
    <link href="/CSS/_login.css" rel="stylesheet">
</head>
<body>
    <section class="area-login">
        <div class="login">
                <div>
                    <img src="/logo.png" alt="">
                </div>

                <form method="POST">
                    <input type="text" name="nome" placeholder="Nome de usuario:" autofocus>
                    <input type="password" name="senha" placeholder="Sua senha:">
                    <input type="submit" name="entrar">
                </form> 
                <p>Ainda nao tem uma conta?<a href="Cadastro.html">Criar Conta</a></p>
        </div>
    </section>
</body>
</html>